<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/demo/lib/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/demo/lib/jquery-plugins/impromptu/3.1/jquery.impromptu.min.js"></script>
    <script type="text/javascript" src="scripts/pref-service.js"></script>
    <script type="text/javascript" src="scripts/console.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/console.css">
    <link rel="stylesheet" type="text/css" href="/demo/lib/jquery-plugins/impromptu/3.1/impromptu.css">
</head>
<body>
