body {
	background: #fff;
	text-align: center;
	font-family: arial,helvetica,lucida,tahoma,verdana,sans-serif;
	font-size: 13px;
	color: #464646;
}
a {
	color: #005cd7;
}
a:hover {
	color: #f00;
}

/* OExchange Navbar */
 
.navbar { position: relative; background: #1b1b1b; border-bottom: 4px solid #464646; padding: 10px; margin-bottom: 50px; text-align: center; }
.navbar-inner { position: relative; width: 940px; margin: 0 auto; text-align: left; }
.navbar a { background: url(/images/logo_inverted_16.gif) no-repeat left; padding-left: 24px; text-decoration: none; color: #ccc; }
.navbar a:hover { color: #fff; }

/* Page Format */

#header { background: url(/images/bkg-dot.gif) repeat-x bottom; padding: 15px 0; margin-bottom: 50px; }
#header h1 { width:240px; height:64px; margin: 0; padding: 0; }
#header h1 a { display:block; background: url(/images/oexchange_logo_240x64.png) no-repeat; width:240px; height:64px; line-height:64px; text-indent:-9999px; outline:none; overflow: hidden; margin: 0; padding: 0; }
#header a { margin-left: 20px; line-height: 4em; float: right; }
#header .right { padding-top: 12px; }
#footer { background: url(/images/bkg-dot.gif) repeat-x top; margin: 50px 0; padding-top: 20px;  }
#footer a { width:100px; text-align:right; float:right;}
.container_12 { text-align: left; }

/* Banner */

.banner { background: #dbe8f9; margin: -25px 0 25px; padding: 25px 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.banner h1 { font-size: 3em; }
.banner h3 { margin-bottom: 5px; }
.banner-linkeater { background: url(/images/banner-linkeater.png) no-repeat; width: 960px; height: 200px; margin: -25px 0 50px 0; }
.funny-monster { background: url(/images/funny-monster.png) no-repeat; width: 500px; height: 418px; }

/* Common Styles */

h1, h2, h3, h4, h5 {
	font-weight: normal;
	color: #000;
}
h1 { font-size: 2em; font-family: georgia,"times new roman",mano,serif; }
h2 { font-size: 1.7em; font-family: georgia,"times new roman",mano,serif; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

strong { color: #000; }

code {
	background-color: #eee;
	border: 1px solid #999;
	padding: 0px 2px;
}
pre {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 8px;
	margin: 20px 0;
	color: #000;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.right { float: right; }
.hide { 	display: none; }
.gbox { background: #f5f5f5; border: 1px solid #ddd; padding: 10px 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.gbox ol li { margin-left: 20px; }
.gbox ol ol { margin-bottom: 0; }

.red { color: #f00; }
.blk { color: #000; }
.org {color: #f30; }
.gry { color: #ccc; }
.dgry { color: #333; }

ul.circle {list-style-type:circle}
ul.square {list-style-type:square}
ol.upper-roman {list-style-type:upper-roman}
ol.lower-alpha {list-style-type:lower-alpha}
ol.lower-roman {list-style-type:lower-roman}
ol.none, ul.none { list-style-type: none; }